```{=html}


<div class="list ">
<% for (const item of items) { %>
    <div class="blog-post quarto-post" <%= metadataAttrs(item) %>>
        <p class="blog-date listing-date"><%= item.date %></p>
        <h4 class="blog-title"><a href="<%= item.path %>" class="listing-title"><%= item.title %></a></h4>
        <p class="text-slate-700">
            <div id="replace-with-content" class="listing-abstract"></div>
            <% if (item.abstract) { %>
                <%= item.abstract %>
            <% } else { %>
                <%= item.description %>
            <% } %>
        </p>
        <a href="<%= item.path %>" class="read-more">Read More</a>

        <hr>

    </div>
    

<% } %>
</div>
```